@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

$main-font:'Source Sans Pro', sans-serif;

$neutral-color:#EEE;
$main-color:gray;
$main-color-dark:black;
$positive-color:rgb(41, 168, 41);
$negative-color:rgb(210, 48, 48);


